<html>
<body bgcolor=grey>
<center>
<h2><font color=yellow>Hello from Frodo and friends</font></h2>
<h2><font color=green>Jenkins to K8S deployment via Helm, ClusterIP SVC!!!<font></h2>
<font color=yellow>Frodo.net from github</font></h2>

<font color=red>Version: TagVersion</font>

</center>
</body>
</html>
